body,
h1,
h2,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
           }
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-image: url("images/people.jpeg");
    background-size: cover;
    opacity: 50;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    text-align: center;
    color: turquoise;
}
p
 {
    line-height: 1.6;
    color: whitesmoke;
}
ul {
    padding-left: 20px;
    color: beige;
}

h1, h2 {
    text-align: center;
    color: white;
    margin-bottom: 10;
}

p {
    line-height: 1.6;
    color: white;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: #080808;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color:blue;
}
